<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Магнит | Статистика по региону</title>
</head>
<body>
    <table border="1" cellpadding="5" 
           style="border-collapse: collapse; border: 1px solid black;">
        <tr style="background-color: pink">
            <th>№</th>
            <th>Город</th>
            <th>Количество комментариев</th>
        </tr>
        %s
    </table>
    <p>%s. Список городов с количеством комментариев по каждому городу.</p>
</body>
</html>